@import './assets/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;



/* @font-face {
    font-family: 'GameOfSquids';
    src: url('./assets/fonts/game_of_squids.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */

  